@model IEnumerable<PetsHotel.webapp.ViewModels.Advertisement.AdvertisementTemplate> 
@{
    ViewBag.title = "Dog Advertisement";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Lista Ogłoszeń</title>
</head>
<body>
    <div>
        @foreach (var item in Model)
        {
            
                <div class="showAd-template">

                    <div class="title-show">
                        @Html.DisplayFor(modelitem => item.Title)
                    </div>
                    <div class="ad-description">
                        @Html.DisplayFor(modelItem => item.Description)
                    </div>
                    <div class="showAd-inner">
                        <div>
                            <div class="solid-font">Od kiedy:</div>  @Html.DisplayFor(modelitem => item.ValidFrom)
                        </div>
                        <div>
                            <div class="solid-font">Do kiedy:</div> @Html.DisplayFor(modelitem => item.ValidTo)
                        </div>
                        <div>
                            <div class="solid-font">Adres: </div>@Html.DisplayFor(modelItem => item.Adress)
                        </div>
                    </div>

                </div>
            
        }
    </div>
</body>
</html>
