@model PetsHotel.webapp.ViewModels.Account.SignUpViewModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Add</title>
</head>
<body>
    <div>
        @using (Html.BeginForm())
        {
        @Html.ValidationSummary();
        <p>@Html.LabelFor(x=>x.Login):</p><br>
        <p>@Html.TextBoxFor(x=>x.Login)</p><br />
        <p>@Html.LabelFor(x=>x.Email):</p><br />
        <p>@Html.TextBoxFor(x=>x.Email)</p><br />
        <p>@Html.LabelFor(x=>x.Password):</p><br />
        <p>@Html.PasswordFor(x=>x.Password)</p><br /><br />

        <p>@Html.LabelFor(x=>x.ConfirmPassword):</p><br />
        <p>@Html.TextBoxFor(x=>x.ConfirmPassword)</p><br /><br />

        <input type="submit" value="zapisz" />
        }
    </div>
</body>
</html>
