@model IEnumerable<PetsHotel.webapp.ViewModels.UserData.ShowViewModel>

@{
    ViewBag.title = "Lista użytkowników";
}

    <h2>@ViewBag.Title</h2>
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>List</title>
</head>
<body>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PersonId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Role)
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.PersonId)
        </td>
        <td>
           @Html.TextBoxFor(modelItem => item.FirstName)
           <span class="input-group-button">
                <button class="btn userUpdateBtn" id="@item.PersonId">
                    <span class="iconify" data-icon="octicon-pencil" data-inline="false"></span>
                </button>
            </span>
        </td>
        <td>
            @Html.TextBoxFor(modelItem => item.LastName)
            <span class="input-group-button">
                <button class="btn lastNameUpdateBtn" id="@item.PersonId">
                    <span class="iconify" data-icon="octicon-pencil" data-inline="false"></span>
                </button>
            </span>
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Role)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.PersonId })
            @Html.ActionLink("Delete", "Delete", new { id = item.PersonId })
        </td>
    </tr>
    }
    
    </table>

   
</body>
</html>
    @section Scripts
    {
            <script type="text/javascript">
                $(function(){

                    $(".userUpdateBtn").on("click", function () {
                        var personId = $(this).attr("id");
                        var personvalue = $(this).parent().parent().find("input[type=text]").val();
                        var jsonData = JSON.stringify({
                        'id': personId,
                        'value' : personvalue
                    
                    });

                        $.ajax({
                            type : "POST",
                            url : '@Url.Action("UpdateName")',
                            data :  jsonData,
                            success: function (res) { alert(res.responseText) },
                            contentType: 'application/json',
                            dataType : 'json'
                        });
                    });

                    $(".lastNameUpdateBtn").on("click", function () {
                        var personId = $(this).attr("id");
                        var lastNameValue = $(this).parent().parent().find("input[type=text]").val();
                        console.log(personId + " " + lastNameValue);
                        var jsonData = JSON.stringify({
                            'id': personId,
                            'value': lastNameValue
                        });
                        $.ajax({
                            type: "POST",
                            url: '@Url.Action("UpdateLastName")',
                            data: jsonData,
                            success: function (res) { alert(res.responseText) },
                            contentType: 'application/json',
                            dataType: 'json'
                        });
                    });
                });

            </script>
    }